<h1>Your profile</h1>

<div class="row">
  <div class="offset-4 col-md-4">
    <div class="row">
      <h4> Nombre de usuario: </h4>
      <p><%= @user.name %> </p>
    </div>
    <div class="row">
      <h4> Correo de usuario: </h4>
      <p><%= @user.email %> </p>
    </div>
  </div>
</div>